<!DOCTYPE html>
<html>
<head>
  <title>CGPA Calculator - Error</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6916342381851364"
     crossorigin="anonymous"></script>
</head>
<body>
  <div class="container">
    <h1>Error: <%= message %></h1>
    <a href="/">Try Again</a>
  </div>
</body>
</html>
