<!DOCTYPE html>
<html>
<head>
  <title>CGPA Calculator - Error</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <div class="container">
    <h1>Error: <%= message %></h1>
    <a href="/">Try Again</a>
  </div>
</body>
</html>
