<!DOCTYPE html>
<html>
<head>
  <title>CGPA Calculator</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <div class="container">
    <h1>Your CGPA is <%= cgpa %></h1>
    <a href="/">Calculate Again</a>
  </div>
</body>
</html>
